.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    height:100vh;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section  h4 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.social-media ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.social-media ul li {
    margin-right: 10px;
}

.contact {
    margin-top: 20px;
}

.contact p {
    margin: 5px 0;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
