@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.menu-page{
  background-color: #04638F;
  width: 100%;
  height: 100vh;
}

.menu-heading {
  color: white;
  font-size: 5rem;
  padding: 2rem 2rem 0 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading-container{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.button-card-container{
  display: flex;
  align-items: center;
}

.slide-button{
  padding: 1rem;
  font-size: 1.3rem;
  background-color:  #04557b;
  color: white;
  border: none;
  margin: 20px;
  border-radius: 1rem;
}

.slide-button:hover{
  background-color:  #04415e;
}



.cards
{
  background-color: #04557b;
  height: 80vh;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 5rem;
  padding: 2rem 4rem 4rem 4rem;
  border-radius: 2rem 2rem 2rem 2rem;
  overflow-y: auto;
  overflow: hidden;
}

.cards::-webkit-scrollbar {
  /* height: 5px;  */
  display: none;
}

/* .cards::-webkit-scrollbar-track {
  background-color: #04557b;
}

.cards::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
} */


.card{
  height: 97%;
  width: 35%;
  margin-top: 2rem;
  background-color: white;
  border-radius: 2.5rem;
  overflow: hidden;
  transition: transform 0.4s;
}


.card:hover{
  transform: scale(3);
  box-shadow: 0 0 20px 5px rgb(46, 46, 46);
}

.desc-img {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 100%;
}

.descriptions {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 1rem;
}

.img-container{
  position: relative;
  object-fit: cover;
  height: 100%;
  padding-top: 0;
  width: 45%;
}

.image{
  width: 230%;
  height: 110%;
  position: absolute;
  right: -110%;
  top: 2%;
  transition: transform 0.3s ;
}

.image:hover{
  transform: scale(1.1);
}

.title-container{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 25%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items:center ;
  
}

.product-title {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

.product-description {
  color: #000000;
  font-size: 16px;
  font-weight: 549;
  margin: 0 10% 10px 0;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2rem;
  gap: 0.6rem;
}

.price-quantity {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 15px;
}

.price-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 10px;
  width: 60%;
  background-color: #04638F;
  color: white;
  font-size: 1.25rem;
  position: relative;
}

.price-tag>span{
  position: relative;
  z-index: 15;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  width: 40%;
}
.counter-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  z-index: 11;
}
.counter-value {
  font-size: 20px;
  margin: 0 15px;
}

.add-to-cart-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  background-color: rgb(197, 34, 34);
  color: white;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.add-to-cart-button>span{
  position: relative;
  z-index: 15;
}

@media (max-width: 1200px) {
  .cards{
    flex-direction: column;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
  }

  .card{
    width: 55%;
  }

  .cards::-webkit-scrollbar {
    height: 5px; 
  }
}

@media (max-width: 900px) {
  .card{
    width: 75%;
    height: 75%;
  }
}

@media (max-width: 694px) {
  .card{
    width: 85%;
  }
}

@media (max-width: 629px) {
  .card{
    width: 90%;
  }
}

@media (max-width: 629px) {
  .card{
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 550px) {
  .cards{
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
  }
  .card{
    width: 100%;
    height: 80%;
  }

  .product-title {
    font-size: 1.8rem;
    margin-right: 10%;
  }

  .slide-button{
    display: none;
  }

  .cards::-webkit-scrollbar {
    height: 5px; 
    display: block;
  }
  
  .cards::-webkit-scrollbar-track {
    background-color: #04557b;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
}

@media (max-width: 460px) {
  .cards{
    padding-left: 20px;
    padding-right: 20px;
  }
  .card{
    width: 100%;
    height: 80%;
  }

  .product-title {
    font-size: 1.8rem;
    margin-right: 10%;
  }
}

@media (max-width: 410px) {
  .cards{
    padding-left: 20px;
    padding-right: 20px;
  }
  .card{
    width: 100%;
    height: 65%;
  }

  .product-title {
    font-size: 1.8rem;
    margin-right: 10%;
  }
}

@media (max-width: 399px) {
  .product-title {
    font-size: 1.3rem;
    margin-right: 10%;
  }

  .buttons{
    padding: 5px;
  }
  .counter-button {
    font-size: 17px;
  }
  .counter-value {
    font-size: 12px;
  
  }
  
  .add-to-cart-button{
    font-size: 0.8rem;
   
  }
  .price-tag{
    font-size: 0.8rem;
  }
}

@media (max-width : 1280px) and (min-width: 900px) {
  
.img-container{
  width: 40%;
}

.image{
  width: 250%;
  height: 120%;
}

.product-title {
  font-size: 1.5rem;
  margin-right: 10%;
}

.product-description {
  font-size: 11px;
  margin-right: 20%;
}

.price-tag{
  font-size: 1rem;
}

.buttons{
  padding-top: 0;
}

.counter-button {
  font-size: 15px;
}
.counter-value {
  font-size: 15px;

}

.add-to-cart-button{
  font-size: 1rem;
 
}

}

@media (max-width : 600px) {
  .menu-page{
    height: auto;
    overflow-x: hidden;
  }

  .menu-heading {
    font-size: 3rem;
  }
  
}


.cursor{
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  transition: all linear 0.1s;
  display: none;
}

.add-to-cart-button::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #04638F;
  top: 0;
  left: 0;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.add-to-cart-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  animation: addtocart-pricetag 0.3s ease alternate;
}


.price-tag::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(197, 34, 34);
  top: 0;
  left: 0;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.price-tag:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  animation: addtocart-pricetag 0.3s ease alternate;
}

@keyframes addtocart-pricetag {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}


