@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; 
  padding: 15px 10px; 
  font-size: 1.1rem; /* 20px */
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: extra-condensed;
  background-color: #04638F;
  position: absolute; 
  top: 0;
  z-index: 1; 
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.domino-logo {
  width: 210px; 
  background-color: #fff;
  border-radius: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.domino-logo > a > img {
  width: 100%;
  height: auto;
}

.corporate-enquiry {
  display: flex;
  align-items: center;
  justify-self: center;
}

.corporate-enquiry span{
  background-color: #0f85c0;
  padding: 7px 10px;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.corporate-enquiry input {
  background-color: transparent;
  padding: 3px 7px;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
}

.corporate-enquiry input::-webkit-input-placeholder{
  color: white;
}



.corporate-enquiry a:hover {
  background-color: #5ab7d8; 
}

.corporate-enquiry svg {
  margin-left: 10px; 
  fill: #ffffff; 
  border: 3px solid #04638F; 
  padding: 5px; 
  border-radius: 50%; 
  box-sizing: border-box;
  width: 30px; 
  height: 30px; 
  background-color: #04638F; 
}

.menu, .domino-logo, .corporate-enquiry, .contact, .domino-store, .order-button {
  animation: scale 1s ease forwards; 
}

@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.menu>a {
  position: relative;
}

.nav-link-hover>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 40px;
  bottom: 5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: right;
}

.nav-link-hover>a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  animation: nav 0.3s ease alternate;
}

@keyframes nav {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.logo-hover::before {
  content: "Domino's";
  font-size: 3rem;
  color: white;
  font-family: "Bebas Neue", sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: solid 2px white;
  background-color: #04638F;
  top: 0;
  left: 0;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.logo-hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  animation: logo 0.3s ease alternate;
}

@keyframes logo {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding for better spacing */
  }

  .header > div:not(.menu):not(.domino-logo) {
    display: none;
  }

  .menu, .domino-logo {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .domino-logo {
    width: 150px; /* Adjust logo size for smaller screens */
  }

  .logo-hover::before {
    font-size: 2rem;
  }
  
}
